.jt-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.jt-modal-overlay .jt-modal {
  min-width: 320px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px #383838;
  background: #fff;
}

.jt-modal-overlay .jt-modal .modalHeader {
  padding: 14px;
  background: #f8f8f8;
  border-radius: 2px 2px 0 0;
}

.jt-modal-overlay .jt-modal .modalBody {
  padding: 14px;
}

.jt-modal-overlay .jt-modal .modalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 14px;
}

.jt-modal-overlay .jt-modal .modalFooter .modalCancel {
  background: #efefef;
  border-radius: 0 0 2px 2px;
}